/* Make the profile picture much smaller with less space above */
.avatar {
  padding-top: 2vh;
}

.avatar img {
  width: 25%;
}


/* Give tables a bit more space to breath */
th, td {
  padding-right: 30px;
}